body {
	background: #fff;
	font-family: 'Abel', sans-serif;
	font-size: 1.2em;
	color: #3B3B3B;
}

h1, h2, h3 {
	font-family: impact;
	font-weight: normal;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	color: #111;
}

#logo h1{
	line-height: 150px;
	letter-spacing: 2px;
	font-size: 3em;
}

#header-page{
	overflow: hidden;
	height: 600px;
}

#header {
	overflow: hidden;
	width: 1000px;
	height: 150px;
	margin: 0 auto;
	padding: 0px;
	text-align: center;
}
#banner {
	margin: 0px auto;
	width: 1000px;
	height: 440px;
}

#threeColumns {
	overflow: hidden;
	width: 1000px;
	margin: 0px auto;
	padding: 30px 0px;
}

#threeColumns h2 {
	padding: 0px 90px 20px 0px;
	font-size: 30px;
}

#threeColumns #columnone {
	float: left;
	width: 300px;
	margin-right: 50px;
}
#threeColumns #columntwo {
	float: left;
	width: 300px;
}
#threeColumns #columnthree {
	float: right;
	width: 300px;
}