body {
	background: #fff;
	font-family: 'Abel', sans-serif;
	font-size: 1.2em;
	color: #3B3B3B;
}

h1, h2, h3 {
	font-family: impact;
	font-weight: normal;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	color: #111;
}